<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ivan</title>
</head>
<body>
    <table border="1" bgcolor="black">
        <tr bgcolor="red">
            <td bgcolor="green">Имя</td>
            <td>Иван Иванов</td>
        </tr>
        <tr bgcolor="red">
            <td bgcolor="green">Возраст</td>
            <td>28 лет</td>
        </tr>
        <tr bgcolor="red">
            <td bgcolor="green">Специальность</td>
            <td>Программист</td>
        </tr>

    </table>

</body>
</html>