<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table border="1" bgcolor="red" >
        <tr bgcolor="green" >
            <td bgcolor="yellow">{{"Название"}}</td>
            <td bgcolor="yellow">{{"Авторы"}}</td>
            <td bgcolor="yellow">{{"Год выпуска"}}</td>
            <td bgcolor="yellow">{{"Количество страниц"}}</td>
            <td bgcolor="yellow">{{"Количество экземпляров"}}</td>
        </tr>
        <tr>
            <td bgcolor="green">{{name}}</td>
            <td bgcolor="green">{{author}}</td>
            <td bgcolor="green">{{year}}</td>
            <td bgcolor="green">{{page}}</td>
            <td bgcolor="green">{{ex}}</td>

        </tr>

        <tr>
            <td bgcolor="pink">{{name2}}</td>
            <td bgcolor="pink">{{author2}}</td>
            <td bgcolor="pink">{{year2}}</td>
            <td bgcolor="pink">{{page2}}</td>
            <td bgcolor="pink">{{ex2}}</td>

        </tr>
    </table>
</body>
</html>